@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white text-black dark:bg-slate-900 dark:text-slate-50;
}

html {
    scroll-behavior: smooth;
}

@layer base {
    #main {
        @apply box-border p-0 m-0 text-base text-black dark:text-white font-normal;
    }

    h1 {
        @apply text-5xl font-medium;
    }

    h2 {
        @apply text-4xl font-medium;
    }

    h3 {
        @apply text-3xl font-medium;
    }

    h4 {
        @apply text-2xl font-normal;
    }

    h5 {
        @apply text-lg font-normal;
    }

    h6 {
        @apply text-base font-thin;
    }

    img {
        @apply max-w-full h-auto;
    }
}